[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "maser"]
	path = maser
	url = https://github.com/diogoveiga/maser
	shallow = true
	registered = true
